.comments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  gap: 10px;
}

@media (max-width: 1212px) {
  .comments {
    
    grid-template-columns: 1fr 1fr;
     }
}

@media (max-width: 1000px) {
  .comments {
    
    grid-template-columns: 1fr;
  }
}